In [ ]:
import pandas as pd
import os
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
df=pd.read_stata('/content/drive/MyDrive/ISB_codes/Treatment.dta')

In [ ]:
df

In [ ]:
df=df[['CIN','dummy_criteria_csr_avg']]

In [ ]:
df_reports=pd.read_csv('/content/drive/MyDrive/ISB_codes/counts_2013_and_2015_new_with_growth_550_2013.csv')

In [ ]:
df_2013=pd.read_csv('/content/drive/MyDrive/ISB_codes/PR/2013_csr/text_2013_csr_processed_new_550.csv')

In [ ]:
df_2015=pd.read_csv('/content/drive/MyDrive/ISB_codes/PR/2015_csr/text_2015_csr_processed.csv')

In [ ]:
df_2013

     Unnamed: 0  ...                                               Text
0             0  ...  corporate social responsibilityas contribution...
1             1  ...  corporate social responsibility corporate soci...
2             2  ...  corporate social responsibilitysocial welfare ...
3             3  ...  corporate social responsibilitycorporate socia...
4             4  ...  corporate social responsibilityyour company co...
..          ...  ...                                                ...
545         545  ...  corporate social responsibilitycorporate gover...
546         546  ...  corporate social responsibilityauditorsour phi...
547         547  ...  corporate social responsibilitythe company dai...
548         548  ...  corporate social responsibilitythe company pro...
549         549  ...  corporate social responsibilitiesthe company a...

[550 rows x 3 columns]

In [ ]:
df_2013['year']=[2013]*df_2013.shape[0]

In [ ]:
df_2013

     Unnamed: 0  ...  year
0             0  ...  2013
1             1  ...  2013
2             2  ...  2013
3             3  ...  2013
4             4  ...  2013
..          ...  ...   ...
545         545  ...  2013
546         546  ...  2013
547         547  ...  2013
548         548  ...  2013
549         549  ...  2013

[550 rows x 4 columns]

In [ ]:
company_name=[]
for i in df_2013['file']:
  i=i.replace('.txt','')
  i=i.replace(' _ ',' ')
  #i=i.replace(' (1)','')
  company_name.append(i)
df_temp=df_2013
df_temp['file']=company_name
df_temp=df_temp.drop(['Unnamed: 0'],axis=1)
df_temp

                                       file  ...  year
0                          AARTI DRUGS LTD.  ...  2013
1    ADANI PORTS SPECIAL ECONOMIC ZONE LTD.  ...  2013
2                     AKZO NOBEL INDIA LTD.  ...  2013
3                            ALCHEMIST LTD.  ...  2013
4                      AGRO TECH FOODS LTD.  ...  2013
..                                      ...  ...   ...
545               R P P INFRA PROJECTS LTD.  ...  2013
546                SUVEN LIFE SCIENCES LTD.  ...  2013
547                 VADILAL INDUSTRIES LTD.  ...  2013
548                          WATERBASE LTD.  ...  2013
549  S K M EGG PRODUCTS EXPORT (INDIA) LTD.  ...  2013

[550 rows x 3 columns]

In [ ]:
os.getcwd()
os.chdir('/content/drive/My Drive/ISB_codes/')

In [ ]:
df_CIN=pd.read_csv('Full_list.csv')

In [ ]:
df_CIN.company_name

0                      'K' STEAMSHIP AGENCIES PVT. LTD.
1                                       20 MICRONS LTD.
2                               20TH CENTURY ENGG. LTD.
3                      GREENSTONE INVESTMENTS PVT. LTD.
4             20TH CENTURY FINANCE CORPN. LTD. [MERGED]
                              ...
50573    ATRADIUS INDIA CREDIT MGMT. SERVICES PVT. LTD.
50574                          BUCK FOR INDIA PVT. LTD.
50575             R M DEBT NIRVANA CONSULTING PVT. LTD.
50576                 A R PROPERTY DEVELOPERS PVT. LTD.
50577                      POPULAR MERCANTILE PVT. LTD.
Name: company_name, Length: 50578, dtype: object

In [ ]:
l=[]
for i in df_CIN.company_name:
  i=i.replace(' ','')
  l.append(i)
df_CIN['uid']=l

In [ ]:
df_CIN

                                         company_name  ...                                       uid
0                    'K' STEAMSHIP AGENCIES PVT. LTD.  ...              'K'STEAMSHIPAGENCIESPVT.LTD.
1                                     20 MICRONS LTD.  ...                             20MICRONSLTD.
2                             20TH CENTURY ENGG. LTD.  ...                      20THCENTURYENGG.LTD.
3                    GREENSTONE INVESTMENTS PVT. LTD.  ...             GREENSTONEINVESTMENTSPVT.LTD.
4           20TH CENTURY FINANCE CORPN. LTD. [MERGED]  ...      20THCENTURYFINANCECORPN.LTD.[MERGED]
...                                               ...  ...                                       ...
50573  ATRADIUS INDIA CREDIT MGMT. SERVICES PVT. LTD.  ...  ATRADIUSINDIACREDITMGMT.SERVICESPVT.LTD.
50574                        BUCK FOR INDIA PVT. LTD.  ...                      BUCKFORINDIAPVT.LTD.
50575           R M DEBT NIRVANA CONSULTING PVT. LTD.  ...           RMDEBTNIRVANACONSULTINGPVT.LTD.
50576               A R PROPERTY DEVELOPERS PVT. LTD.  ...              ARPROPERTYDEVELOPERSPVT.LTD.
50577                    POPULAR MERCANTILE PVT. LTD.  ...                 POPULARMERCANTILEPVT.LTD.

[50578 rows x 3 columns]

In [ ]:
df_temp['company_name']=df_temp['file']
df_new=pd.merge(df_temp,df_CIN[['CIN','company_name']],on='company_name', how='left')
df_new.columns
df_new=df_new[[ 'CIN', 'file','company_name','year','Text']]

In [ ]:
df_new

                       CIN  ...                                               Text
0    L37060MH1984PLC055433  ...  corporate social responsibilityas contribution...
1                      NaN  ...  corporate social responsibility corporate soci...
2    L24292WB1954PLC021516  ...  corporate social responsibilitysocial welfare ...
3    L72200DL1988PLC192643  ...  corporate social responsibilitycorporate socia...
4    L15142TG1986PLC006957  ...  corporate social responsibilityyour company co...
..                     ...  ...                                                ...
545  L45201TZ1995PLC006113  ...  corporate social responsibilitycorporate gover...
546  L24110TG1989PLC009713  ...  corporate social responsibilityauditorsour phi...
547  L91110GJ1982PLC005169  ...  corporate social responsibilitythe company dai...
548  L05005AP1987PLC018436  ...  corporate social responsibilitythe company pro...
549  L01222TZ1995PLC006025  ...  corporate social responsibilitiesthe company a...

[550 rows x 5 columns]

In [ ]:
df_new=pd.merge(df_new,df[['CIN','dummy_criteria_csr_avg']],on='CIN', how='left')

In [ ]:
dummy='dummy_criteria_csr_avg'
df_new[dummy].value_counts()

1.0    429
0.0     41
Name: dummy_criteria_csr_avg, dtype: int64

In [ ]:
df_new.to_csv('2013_reports_with_bool_new.csv')

In [ ]:
df_new

                       CIN  ... dummy_criteria_csr_avg
0    L37060MH1984PLC055433  ...                    1.0
1                      NaN  ...                    NaN
2    L24292WB1954PLC021516  ...                    1.0
3    L72200DL1988PLC192643  ...                    1.0
4    L15142TG1986PLC006957  ...                    1.0
..                     ...  ...                    ...
545  L45201TZ1995PLC006113  ...                    1.0
546  L24110TG1989PLC009713  ...                    1.0
547  L91110GJ1982PLC005169  ...                    0.0
548  L05005AP1987PLC018436  ...                    0.0
549  L01222TZ1995PLC006025  ...                    0.0

[550 rows x 6 columns]

In [ ]:
df_non_mandated=df_new[df_new[dummy]==0]
df_non_mandated.shape[0]

41

In [ ]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine
def getcsmatrix(l):
  temp=[list(i) for i in l]
  A =  np.array(temp)
  A_sparse = sparse.csr_matrix(A)
  similarities_sparse = cosine_similarity(A_sparse,dense_output=False)
  return similarities_sparse.toarray()

In [ ]:
l=[]
#X=X.dropna()
#########The RIGHT LOOP#################  
vectorizer=CountVectorizer()
y=vectorizer.fit(df_non_mandated['Text'])
for i in df_non_mandated['Text']:
  r=vectorizer.transform([i])
  l.append(r)

In [ ]:

x=[]
for i in l:
  x.append(i.toarray())
df_non_mandated['Count_vectors']=x

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
l=[]
for i in range(df_non_mandated.shape[0]):
  l.append(df_non_mandated['Count_vectors'].iloc[i][0])
df_non_mandated['Final_count_vectors']=l
df_non_mandated

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                       CIN  ...                                Final_count_vectors
19   L24110MH1992PLC069615  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
26   L24302RJ1970PLC002266  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
86   L74210MP1978PLC001452  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
137  L74899DL1965GOI004363  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
183  L31103TZ1990PLC002836  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
224  L33117PB1984PLC022350  ...  [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...
228  L74899DL1989PLC036849  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
238  L34103PN1944PLC020842  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
243  L92490TN1994PLC027709  ...  [0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...
248  L74999TN1972PLC006127  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
261  L72200TN1999PLC054429  ...  [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, ...
262  L17111TZ1973PLC000675  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
265  L51900GJ1980PLC065554  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
267  L21010GJ1991PLC019432  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
297  L23205GJ1965PLC001343  ...  [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...
299  L65920MH1994PLC080220  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
346  L35999HR1968PLC004977  ...  [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...
351  L27100GJ1990PLC014383  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
352  L55101TN1969PLC005768  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, ...
354  L17120DN1990PLC000440  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
392  L67100DD1983PLC004760  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
395  L72100DL1993PLC179154  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, ...
399  L62200DL1998PLC093225  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...
405  L17121MH1904PLC000195  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
417  L27100MH1988PLC194523  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...
442  L24132MP1996PLC011245  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
448  L30007KA1991PLC039702  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, ...
462  L36999WB1995PLC074860  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
464  L34300DL1983PLC016136  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
467  L24231CH1996PLC017755  ...  [0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
484  L74210JH1962PLC000700  ...  [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
488  L15419PN1985PLC037347  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
502  L65999DL1984PLC019465  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
503  L29199DL1985PLC015796  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, ...
513  L99999MH1986PLC039660  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, ...
515  L27203KA1979PLC003442  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
525  L24110MH1994PLC076156  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
537  L31300MP1992PLC007190  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
547  L91110GJ1982PLC005169  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...
548  L05005AP1987PLC018436  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
549  L01222TZ1995PLC006025  ...  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...

[41 rows x 8 columns]

In [ ]:
non_man_matrix=getcsmatrix(df_non_mandated['Final_count_vectors'])

In [ ]:
non_man_matrix

array([[1.        , 0.11768914, 0.42621836, ..., 0.23642282, 0.25715143,
        0.36271456],
       [0.11768914, 1.        , 0.12371791, ..., 0.19030381, 0.12262787,
        0.2331862 ],
       [0.42621836, 0.12371791, 1.        , ..., 0.23267002, 0.23599744,
        0.38317802],
       ...,
       [0.23642282, 0.19030381, 0.23267002, ..., 1.        , 0.24983836,
        0.29517215],
       [0.25715143, 0.12262787, 0.23599744, ..., 0.24983836, 1.        ,
        0.32334489],
       [0.36271456, 0.2331862 , 0.38317802, ..., 0.29517215, 0.32334489,
        1.        ]])

In [ ]:
len(non_man_matrix)

41

In [ ]:
l=[]
for i in range(len(non_man_matrix)):
  l.append(non_man_matrix[i])

In [ ]:
df_non_mandated['similarity']=l

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
means=[]

df2015=pd.read_csv('2015_reports_with_bool.csv')
for i in df_non_mandated['similarity']:
  mean=(i.sum()-1)/(len(i)-1+72)
  means.append(mean)
df_non_mandated['means']=means

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
df_non_mandated.to_csv('Non_mandated_2013_new_550_with_shift.csv')

In [ ]:
df_non_mandated

                       CIN  ...     means
19   L24110MH1992PLC069615  ...  0.077167
26   L24302RJ1970PLC002266  ...  0.040691
86   L74210MP1978PLC001452  ...  0.076333
137  L74899DL1965GOI004363  ...  0.023691
183  L31103TZ1990PLC002836  ...  0.070850
224  L33117PB1984PLC022350  ...  0.057139
228  L74899DL1989PLC036849  ...  0.066926
238  L34103PN1944PLC020842  ...  0.076344
243  L92490TN1994PLC027709  ...  0.081120
248  L74999TN1972PLC006127  ...  0.050856
261  L72200TN1999PLC054429  ...  0.044314
262  L17111TZ1973PLC000675  ...  0.032693
265  L51900GJ1980PLC065554  ...  0.024559
267  L21010GJ1991PLC019432  ...  0.062734
297  L23205GJ1965PLC001343  ...  0.036070
299  L65920MH1994PLC080220  ...  0.044365
346  L35999HR1968PLC004977  ...  0.079169
351  L27100GJ1990PLC014383  ...  0.043301
352  L55101TN1969PLC005768  ...  0.073498
354  L17120DN1990PLC000440  ...  0.070643
392  L67100DD1983PLC004760  ...  0.020292
395  L72100DL1993PLC179154  ...  0.060878
399  L62200DL1998PLC093225  ...  0.015031
405  L17121MH1904PLC000195  ...  0.056231
417  L27100MH1988PLC194523  ...  0.049194
442  L24132MP1996PLC011245  ...  0.046717
448  L30007KA1991PLC039702  ...  0.045636
462  L36999WB1995PLC074860  ...  0.016177
464  L34300DL1983PLC016136  ...  0.012785
467  L24231CH1996PLC017755  ...  0.077867
484  L74210JH1962PLC000700  ...  0.074954
488  L15419PN1985PLC037347  ...  0.068024
502  L65999DL1984PLC019465  ...  0.026848
503  L29199DL1985PLC015796  ...  0.093503
513  L99999MH1986PLC039660  ...  0.016652
515  L27203KA1979PLC003442  ...  0.064116
525  L24110MH1994PLC076156  ...  0.081160
537  L31300MP1992PLC007190  ...  0.006343
547  L91110GJ1982PLC005169  ...  0.067664
548  L05005AP1987PLC018436  ...  0.060287
549  L01222TZ1995PLC006025  ...  0.084150

[41 rows x 10 columns]

In [ ]:
l=[]
df_mandated=df_new[df_new['dummy_criteria_csr_avg']==1]
vectorizer=CountVectorizer()
y=vectorizer.fit(df_mandated['Text'])
for i in df_mandated['Text']:
  r=vectorizer.transform([i])
  l.append(r)
x=[]
for i in l:
  x.append(i.toarray())
df_mandated['Count_vectors']=x
l=[]
for i in range(df_mandated.shape[0]):
  l.append(df_mandated['Count_vectors'].iloc[i][0])
df_mandated['Final_count_vectors']=l
df_mandated
man_matrix=getcsmatrix(df_mandated['Final_count_vectors'])
l=[]
for i in range(len(man_matrix)):
  l.append(man_matrix[i])
df_mandated['similarity']=l
means=[]
for i in df_mandated['similarity']:
  mean=(i.sum()-1)/(len(i)-1)
  means.append(mean)
df_mandated['means']=means

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_mandated

                       CIN  ...     means
0    L37060MH1984PLC055433  ...  0.147419
2    L24292WB1954PLC021516  ...  0.183127
3    L72200DL1988PLC192643  ...  0.176641
4    L15142TG1986PLC006957  ...  0.091222
5    L63090GJ1956PLC001032  ...  0.086609
..                     ...  ...       ...
542  L17111TN1936PLC002298  ...  0.104644
543  L01542KA1995PLC019046  ...  0.086932
544  L29150PN1989PLC054143  ...  0.222975
545  L45201TZ1995PLC006113  ...  0.139993
546  L24110TG1989PLC009713  ...  0.107081

[429 rows x 10 columns]

In [ ]:
df_mandated.to_csv('Mandated_2013_new_550.csv')

In [ ]:
def get_man_df(df_mandated):
  l=[]
  df_mandated=df_new[df_new['dummy_criteria_csr_avg']==1]
  vectorizer=CountVectorizer()
  y=vectorizer.fit(df_mandated['Text'])
  for i in df_mandated['Text']:
    r=vectorizer.transform([i])
    l.append(r)
  x=[]
  for i in l:
    x.append(i.toarray())
  df_mandated['Count_vectors']=x
  l=[]
  for i in range(df_mandated.shape[0]):
    l.append(df_mandated['Count_vectors'].iloc[i][0])
  df_mandated['Final_count_vectors']=l
  df_mandated
  man_matrix=getcsmatrix(df_mandated['Final_count_vectors'])
  l=[]
  for i in range(len(man_matrix)):
    l.append(man_matrix[i])
  df_mandated['similarity']=l
  means=[]
  for i in df_mandated['similarity']:
    mean=(i.sum()-1)/(len(i)-1)
    means.append(mean)
  df_mandated['means']=means
  return df_mandated

In [ ]:
def get_non_man_df(df_mandated):
  l=[]
  df_mandated=df_new[df_new['dummy_criteria_csr_avg']==0]
  vectorizer=CountVectorizer()
  y=vectorizer.fit(df_mandated['Text'])
  for i in df_mandated['Text']:
    r=vectorizer.transform([i])
    l.append(r)
  x=[]
  for i in l:
    x.append(i.toarray())
  df_mandated['Count_vectors']=x
  l=[]
  for i in range(df_mandated.shape[0]):
    l.append(df_mandated['Count_vectors'].iloc[i][0])
  df_mandated['Final_count_vectors']=l
  df_mandated
  man_matrix=getcsmatrix(df_mandated['Final_count_vectors'])
  l=[]
  for i in range(len(man_matrix)):
    l.append(man_matrix[i])
  df_mandated['similarity']=l
  means=[]
  for i in df_mandated['similarity']:
    mean=(i.sum()-1)/(len(i)-1)
    means.append(mean)
  df_mandated['means']=means
  return df_mandated

In [ ]:
df_mandated_2013=get_man_df(df_new)
df_non_man_2013=get_non_man_df(df_new)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df_non_man_2013.to_csv('Non_mandated_2013.csv')
df_mandated_2013.to_csv('Mandated_2013.csv')

In [ ]:
df1=pd.read_csv('Mandated_2013_new_550.csv')
df2=pd.read_csv('Mandated_2015.csv')
df3=pd.read_csv('Non_man_2015.csv')
df4=pd.read_csv('Non_mandated_2013_new_550_with_shift.csv')

In [ ]:
df1=df1.append([df2,df3,df4])
df4[df4['year']==2013]

    Unnamed: 0  ...     means
0           19  ...  0.077167
1           26  ...  0.040691
2           86  ...  0.076333
3          137  ...  0.023691
4          183  ...  0.070850
5          224  ...  0.057139
6          228  ...  0.066926
7          238  ...  0.076344
8          243  ...  0.081120
9          248  ...  0.050856
10         261  ...  0.044314
11         262  ...  0.032693
12         265  ...  0.024559
13         267  ...  0.062734
14         297  ...  0.036070
15         299  ...  0.044365
16         346  ...  0.079169
17         351  ...  0.043301
18         352  ...  0.073498
19         354  ...  0.070643
20         392  ...  0.020292
21         395  ...  0.060878
22         399  ...  0.015031
23         405  ...  0.056231
24         417  ...  0.049194
25         442  ...  0.046717
26         448  ...  0.045636
27         462  ...  0.016177
28         464  ...  0.012785
29         467  ...  0.077867
30         484  ...  0.074954
31         488  ...  0.068024
32         502  ...  0.026848
33         503  ...  0.093503
34         513  ...  0.016652
35         515  ...  0.064116
36         525  ...  0.081160
37         537  ...  0.006343
38         547  ...  0.067664
39         548  ...  0.060287
40         549  ...  0.084150

[41 rows x 11 columns]

In [ ]:
df1.columns

Index(['Unnamed: 0', 'CIN', 'file', 'company_name', 'year', 'Text',
       'dummy_criteria_csr_avg', 'Count_vectors', 'Final_count_vectors',
       'similarity', 'means'],
      dtype='object')

In [ ]:
df1=df1[['CIN', 'file', 'company_name', 'year','similarity','means', 'dummy_criteria_csr_avg',]]

In [ ]:
df1=df1.sort_values(['company_name','year'])

In [ ]:
df1.to_csv('Cosines_new_550_with_shift.csv')

In [ ]:
df1['UID']=df1['CIN']+df1['year'].apply(str)
df1

                       CIN  ...                        UID
263  L99999GJ1987PLC009768  ...  L99999GJ1987PLC0097682013
7    L99999GJ1987PLC009768  ...  L99999GJ1987PLC0097682015
6    L67120MH1993PLC074411  ...  L67120MH1993PLC0744112015
8    L31300KA1987PLC013543  ...  L31300KA1987PLC0135432015
285  L29142TN1988PLC015586  ...  L29142TN1988PLC0155862013
..                     ...  ...                        ...
475  L32109MH1994PLC083391  ...  L32109MH1994PLC0833912015
262  L17100MH1984PLC033143  ...  L17100MH1984PLC0331432013
470  L17100MH1984PLC033143  ...  L17100MH1984PLC0331432015
467  L65921GA1967PLC000157  ...  L65921GA1967PLC0001572015
473  L15201GJ1994PLC023490  ...  L15201GJ1994PLC0234902015

[1347 rows x 8 columns]

In [ ]:

df2=pd.read_csv(os.getcwd()+'/counts_2013_and_2015_new_with_growth_550_2013.csv')
df2

      Unnamed: 0  ... growth_count
0            326  ...            1
1             14  ...            8
2             13  ...           10
3             15  ...            7
4            362  ...           13
...          ...  ...          ...
1563         658  ...            6
1564         325  ...            2
1565         653  ...            3
1566         650  ...            5
1567         656  ...           11

[1568 rows x 8 columns]

In [ ]:
os.getcwd()

'/content/drive/My Drive/ISB_codes'

In [ ]:
df2['company_name']=df2['file_name']

In [ ]:
df3=pd.merge(df_CIN,df2,on='company_name')

In [ ]:
df3.to_csv('counts_after_merging_with_CIN.csv')

In [ ]:
df3['UID']=df3['CIN']+df3['year'].apply(str)

In [ ]:
df3

                      company_name  ...                        UID
0                  20 MICRONS LTD.  ...  L99999GJ1987PLC0097682013
1                  20 MICRONS LTD.  ...  L99999GJ1987PLC0097682015
2              A B G SHIPYARD LTD.  ...  L61200GJ1985PLC0077302015
3         A B M KNOWLEDGEWARE LTD.  ...  L67190MH1993PLC1136382015
4                 A D F FOODS LTD.  ...  L15400GJ1990PLC0142652015
...                            ...  ...                        ...
1346            DALMIA BHARAT LTD.  ...  L14200TN2013PLC1123462015
1347     K P I T TECHNOLOGIES LTD.  ...  L74999PN2018PLC1741922013
1348     K P I T TECHNOLOGIES LTD.  ...  L74999PN2018PLC1741922015
1349  GUJARAT FLUOROCHEMICALS LTD.  ...  L24304GJ2018PLC1054792013
1350  GUJARAT FLUOROCHEMICALS LTD.  ...  L24304GJ2018PLC1054792015

[1351 rows x 11 columns]

In [ ]:
df_final=pd.merge(df1,df3[['UID','main_count']],on='UID')

In [ ]:
print(df_final.columns)

Index(['CIN', 'file', 'company_name', 'year', 'means',
       'dummy_criteria_csr_avg', 'UID', 'main_count'],
      dtype='object')

In [ ]:
df_final=df_final[[ 'UID','CIN', 'file', 'company_name', 'year', 'means','dummy_criteria_csr_avg', 'main_count']]
df_final.to_csv('cosines_with_main_count_550_with_shift.csv')

In [ ]:
df_final

                            UID  ... main_count
0     L99999GJ1987PLC0097682013  ...         18
1     L99999GJ1987PLC0097682015  ...        460
2     L67120MH1993PLC0744112015  ...        798
3     L31300KA1987PLC0135432015  ...        690
4     L29142TN1988PLC0155862013  ...        702
...                         ...  ...        ...
1342  L32109MH1994PLC0833912015  ...        502
1343  L17100MH1984PLC0331432013  ...         30
1344  L17100MH1984PLC0331432015  ...        120
1345  L65921GA1967PLC0001572015  ...        162
1346  L15201GJ1994PLC0234902015  ...        608

[1347 rows x 8 columns]

In [ ]:
temp=df4[df4['year']==2013]
x=temp[temp[dummy]==0]
x.shape[0]

41

In [ ]:

temp=df_final[df_final['year']==2015]

In [ ]:
y=temp[temp['dummy_criteria_csr_avg']==0]
y

                            UID  ... main_count
8     L32209KA1988PLC0093132015  ...        276
24    L52520MP1986PLC0034052015  ...        587
53    L72300TN1998PLC0410332015  ...        242
55    L74210TG1987PLC0075802015  ...        870
71    L45400DL1993PLC0516032015  ...        544
...                         ...  ...        ...
1287  L24110TG1990PLC0119772015  ...        620
1292  L74999AP1992PLC0143922015  ...        327
1305  L99999MH1986PLC0396602015  ...        594
1309  L05005AP1987PLC0184362015  ...        848
1319  L67120AS1971PLC0013582015  ...        293

[106 rows x 8 columns]

In [ ]:
temp1=df_final[df_final['year']==2013]

In [ ]:
x=temp1[temp1[dummy]==0]
x.shape[0]

41

In [ ]:
print(x['file'])
len(x['file'])

89                        ASHOK ALCO-CHEM LTD.
125                                 B S L LTD.
174                     BHORUKA ALUMINIUM LTD.
180                           BIRLA CABLE LTD.
297                     DOLAT INVESTMENTS LTD.
337              F C S SOFTWARE SOLUTIONS LTD.
358                             FLUIDOMAT LTD.
405                GLOBAL VECTRA HELICORP LTD.
478                      HINDOOSTAN MILLS LTD.
528            INDIA TOURISM DEVP. CORPN. LTD.
547                         INDUCTO STEEL LTD.
671                       KRITI NUTRIENTS LTD.
686              LAKSHMI PRECISION SCREWS LTD.
708                MAGNA ELECTRO CASTINGS LTD.
752                      MINDTECK (INDIA) LTD.
876                        PANACEA BIOTEC LTD.
884                       PARABOLIC DRUGS LTD.
891                    PEARL GLOBAL INDS. LTD.
932                               PREMIER LTD.
941                      R A C L GEARTECH LTD.
943                        R D B RASAYANS LTD.
949                RAJ TELEVISION NETWORK LTD.
966                     RANE ENGINE VALVE LTD.
972                           REAL STRIPS LTD.
1005    S K M EGG PRODUCTS EXPORT (INDIA) LTD.
1020                              SAKSOFT LTD.
1024             SAMBANDAM SPINNING MILLS LTD.
1035                    SAVERA INDUSTRIES LTD.
1041          SHAILY ENGINEERING PLASTICS LTD.
1050                 SHEKHAWATI POLY-YARN LTD.
1062                 SHREE RAMA NEWSPRINT LTD.
1151                                T R F LTD.
1164                  TASTY BITE EATABLES LTD.
1206                    TRANSPEK INDUSTRY LTD.
1210                TRANSWARRANTY FINANCE LTD.
1246                UNITED DRILLING TOOLS LTD.
1268                   VADILAL INDUSTRIES LTD.
1281     VIDHI SPECIALTY FOOD INGREDIENTS LTD.
1283                        VIKAS ECOTECH LTD.
1304                  WALL STREET FINANCE LTD.
1308                            WATERBASE LTD.
Name: file, dtype: object

41

In [ ]:
print(y['file'])

8          A D C INDIA COMMUNICATIONS LTD.
24                   AD-MANUM FINANCE LTD.
53                ALLSEC TECHNOLOGIES LTD.
55                   ALPHAGEO (INDIA) LTD.
71                      APEX BUILDSYS LTD.
                       ...
1287                       VIMTA LABS LTD.
1292                VIRAT CRANE INDS. LTD.
1305              WALL STREET FINANCE LTD.
1309                        WATERBASE LTD.
1319    WILLIAMSON FINANCIAL SERVICES LTD.
Name: file, Length: 106, dtype: object

In [ ]:
l=[]
for i in list(y['file']):
  if(i not in list(x['file'])):
    l.append(i)

In [ ]:
df=pd.DataFrame(l,columns=['Names_non_mandated'])
df

                    Names_non_mandated
0      A D C INDIA COMMUNICATIONS LTD.
1                AD-MANUM FINANCE LTD.
2             ALLSEC TECHNOLOGIES LTD.
3                ALPHAGEO (INDIA) LTD.
4                   APEX BUILDSYS LTD.
..                                 ...
67                   VIJAY SOLVEX LTD.
68          VIKRAM THERMO (INDIA) LTD.
69                     VIMTA LABS LTD.
70              VIRAT CRANE INDS. LTD.
71  WILLIAMSON FINANCIAL SERVICES LTD.

[72 rows x 1 columns]

In [ ]:
df.to_csv('Listofnames_new.csv')

In [ ]:
df=df.drop_duplicates()
df.shape[0]
len(df.Names_non_mandated.unique())

72